.App {
  text-align: center;
}
body {
  font-family: 'Cinzel', serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/
}

.App-header {
  background-color: #5a5f65;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-logo {
  height: 40vmin; /* Adjust as needed */
  pointer-events: none; /* Prevents clicking */
}
.App-link {
  color: #61dafb;
}

.titlofpsionic{
  color: #000000;
  line-height: 5rem;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 1px black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.linc2spot {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 12px;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);

}

.dis4rmspot {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 12px;
  margin: 0;
  position: relative; 
  top: 0;
  transform: translateY(0);
}

.patientbox {
  background-color: lightgrey;
  width: 500px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;

  top: 50%;
  left:50%;
  margin-left: 500px;
  margin-top: 320px;
}
