/* Original CSS styles */
.App {
  text-align: center;
  background-color: #8390a0;
}
/* General container styling */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa; /* Light background color */
}

/* Logo container styling */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Adjust the size as needed */
  animation: pulsate 1.5s infinite;
}

/* Pulsating animation for the logo */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Loading dots styling */
.loading-dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #007bff; /* Blue color for dots */
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

/* Bounce animation for the dots */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.App-logo {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
.navbar {
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
}
.nav-link {
  margin-right: 15px;
}
.App-header {
  background-color: #5a5f65;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.clientList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 56px); /* Adjust height minus the navbar height */
}
.clientCard {
  margin-bottom: 15px;
}
.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-img {
  width: 80%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.titlofpsionic {
  color: #000000;
  line-height: 5rem;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 1px 1px black;
}
.content {
  flex: 1;
  overflow: auto;
  padding: 20px
}
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}
.card-img {
  height: 180px;
  object-fit: cover;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.linc2spot {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 12px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}

.dis4rmspot {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 12px;
  margin: 0;
  position: relative;
  top: 0;
  transform: translateY(0);
}

.patientbox {
  background-color: lightgrey;
  width: 500px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Center the patient box */
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* New Styles for PatientLandingPage */
.topTracks {
  margin-bottom: 20px;
}

.topTracks ul {
  list-style-type: none;
  padding: 0;
}

.inputButton{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 10px;
  
}


.card-logo {
  width: 320px;
  height: auto;
  display: block;
  margin: 0 auto;
}
