html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
    background-color: #8390a0;
    
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Courier New,
    monospace;
}

.roleButton{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

input[type='button'] {
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

/* Dimmed added functions*/
.roleButton.dimmed {
  opacity: 0.5;
}

.roleButton.active {
  opacity: 1;
}

.inputButton {
  display: none;
}

.buttonContainer .inputButton {
  display: inline-block;
}