.App {
  text-align: center;
}

.App-logo {
  
  height: 40vmin;
  pointer-events: none;
  margin-right: 70%;
}

@media (prefers-reduced-motion: no-preference) {
 HEAD
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }

   .App-logo {
     animation: App-logo-spin infinite 20s linear; 
   } 

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a0cb83;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Friends{
  font-size: 15px;
  margin-right: 70%;
  
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  

}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  
}

.tablec{
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.ma{
  margin-left: -1000px;
}

.borderimg{
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: 2px solid;
  border-color: green;
  padding: 5px;
  /* opacity: ; */
}
